<legend>Nueva Tarea</legend>
                <div class="form-group">
                <form action="">
                <div class="row">
                    <div class="col-md-8">
                        <label class="control-label" for="inputDefault">Nueva Tarea</label>
                        <input class="form-control" id="inputDefault" type="text" ng-model="tarea.nombre">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="inputDefault">Prioridad</label>
                        <select class="form-control" id="select" ng-model="tarea.prioridad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="inputDefault">Guardar</label><br>
                        <button type="submit" id="submit" class="btn btn-success" ng-click="agregar()">Agregar</button>
                    </div>
                    

                    
                </div>
                </form>
                </div>  

                {{tareas}}